@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #B23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #FFF;
  color: #FFF;
}
.add-to-cart:focus {
  outline: none;
}

.btn-primary {
  background: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #B23301;
}
.btn-primary:focus {
  outline: none;
}

.form-group {
  margin: 0.4em 0;
}

.form-group input[type=text] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

section.form, section.orders {
  background: #F8F8F8;
  min-height: calc(100vh - 86px);
}
section.form a, section.orders a {
  color: #FE5F1E;
}
section.form a:hover, section.orders a:hover {
  color: #B23301;
}

.notie-container {
  margin-left: 80%;
  width: 20%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 25px;
}

a.link {
  color: #FE5F1E;
}

section.status {
  background: #F8F8F8;
  min-height: calc(100vh - 86px);
}

.status-box {
  padding: 60px 0 0;
}

.status-box ul {
  margin-left: 84px;
}

.status-box ul li span {
  position: relative;
  padding-left: 20px;
}

.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px #F8F8F8;
}

.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.status-box ul li:nth-child(1) span:before {
  content: "";
}

.status-box ul li:nth-child(2) span:before {
  content: "";
}

.status-box ul li:nth-child(3) span:before {
  content: "";
}

.status-box ul li:nth-child(4) span:before {
  content: "";
}

.status-box ul li:nth-child(5) span:before {
  content: "";
}

.status-box ul li {
  position: relative;
}

.status-box ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: #232323;
  margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after {
  box-shadow: 0 20px 1px 20px #F8F8F8;
}

.status-box ul li.step-completed:before {
  background: #18b654;
}

.status-box ul li.step-completed span:after {
  background: #18b654;
}

.status-box ul li.step-completed span {
  color: #18b654;
}

.status-box ul li.current span {
  color: #FE5F1E;
}

.status-box ul li.current span:after {
  background: #FE5F1E;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 1060px) {
  .container {
    max-width: 90%;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .status-box ul li span:before {
    font-size: 34px;
  }
}
.StripeElement {
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
